<a href="https://colab.research.google.com/github/Dhairyasummi/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Lists can be thought of thee mosrt general version of the sequence in a python
# unlike strings they are mutable emaning the elements can be changed
# they are constructed with brackets [] and commas seperating every element

a = [1,2,3,4.2,'jello',True]
type(a)

list

In [3]:
print(a[4][3])

l

In [4]:
a = [1,2,3,4,5,6,7]
print(a[2:5])

[3, 4, 5]

In [5]:
print(a[2:5:2])

[3, 5]

LIST OPERATIONS

In [6]:
#CONCAT
a = [1,2,3,4,5,6,7]
b = [4,5,6,7,8]
print(a+b) #it does not store the final result

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8]

In [7]:
a = [1,2,3,4,5,6,7]
b = [4,5,6,7,8]
c = a+b
print(c) #it does store the final result but on the price of extra space

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8]

In [ ]:
#APPEND() - use the append methord to permanently add an item to the end of the list
# it takes the element which you want to add to the list as an argument

In [8]:
a = [15,23,442]
a.append('dhairya')
print(a)

[15, 23, 442, 'dhairya']

In [10]:
a = [1,2,3,4,5]
b = [3,4,5,7]
a.append(b)
print(a)   # this poses a problem as it add another list to it

[1, 2, 3, 4, 5, [3, 4, 5, 7]]

In [12]:
# to solve the above problem we can use the extend methord
# extend methord is used to merge a list to an existing list , it is quite helpful when u want to merge the list
a = [1,2,3,4,5]
b = [3,4,5,7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 3, 4, 5, 7]

In [13]:
# len() function is used to return the length of the list
a = [1,2,3,4,5,3,4,5,7]
print(len(a))

9

In [14]:
#min- use to return the minimun element of the list
#max - return the maximum element of the list
a = [1,2,3,4,5,3,4,5,7]
print(min(a))
print(max(a))

1
7

In [18]:
# sort- used to sort the order in the list it by default returns the ascending order it is methord which is used to make changes permanently whereas sorted() is a function which is used to do it temporarily
#sum - used to sum the values of the list
a = [1,2,3,4,5,3,4,5,7]
a.sort()
print(sum(a))
print(a)
print(min(a))
print(max(a))

34
[1, 2, 3, 3, 4, 4, 5, 5, 7]
1
7

In [20]:
#pop - it is used to remove th element from the list using the index (takes index as the element)
# remove - it is used to remove the element from the list using the element (takes element as the argument)
a = [1,2,3,4,'dhairya','wein']
a.pop(-1)
print(a)
a.remove('dhairya')
print(a)
# pop is considered a good practice as it remove vaalue according to the index but remove have complexities when there are duplicate values

[1, 2, 3, 4, 'dhairya']
[1, 2, 3, 4]

In [25]:
#reverse- this methord is used to reverse the list and the changes are taken permanently
a = [1,2,3,4,5,6]
a.reverse()
print(a)

[6, 5, 4, 3, 2, 1]