<a href="https://colab.research.google.com/github/Dhairyasummi/python/blob/main/oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Comprehension

In [ ]:
b = [i**2 for i in range(1,100) if i%2 == 0]
print(b)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
b = [i**2 if i % 2 == 0 else i**3 for i in a]
print(b)

[1, 4, 27, 16, 125, 36, 343, 64, 729]

In [ ]:
quote_1 = "My name is Dhairya Summi. I am billionare"
b = {i[0] for i in quote_1.split()}
print(b)

{'D', 'a', 'I', 'i', 'M', 'b', 'n', 'S'}

In [ ]:
quote_1.split('. ')

['My name is Dhairya Summi', 'I am billionare']

In [ ]:
a = int(input('Enter a number :- '))
result = 1
for i in range(2,a+1):
  result *= i
print(result)

Enter a number :- 10
3628800

In [ ]:
def fe(n):
  a = list(range(1,n+1))
  print(a)
  fec = 1
  for i in range(1,n+1):
    fec *= i
  return fec

In [ ]:
fe(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

3628800

In [ ]:
# wap which takes date as a string and print quaters as output

sample_date = '2020-07-01'
b = sample_date.split('-')[1]
dict = {1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'}
print(dict[int(b)])

Jul

In [ ]:
sample_date = '2020-07-01'

month = int(sample_date.split('-')[1])

if 1 <= month <= 3:
    quarter = 'jan , feb , mar'
elif 4 <= month <= 6:
    quarter = 'april , may , june'
elif 7 <= month <= 9:
    quarter = 'july , aug , sep'
else:
    quarter = 'oct , nov , dec'

print(f"Quarter: {quarter}")

Quarter: july , aug , sep

In [ ]:
# put the value in the metioned index

a = [1,2,3,4,5,6]
value = 100
index = 3
my_list = a[0:index] + [value] + a[index:]
print(my_list)

[1, 2, 3, 100, 4, 5, 6]

Classes

In [ ]:
class bpit:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def stud_name(self):
    print(f'this is class of bpit and name is :--- {self.name}')
  def stud_age(self):
    print(f'this is the class of bpit and age is :--- {self.age}')

In [ ]:
b = bpit(name = 'Dhairya' , age = 20)
b.stud_name()
b.stud_age()

this is class of bpit and name is :--- Dhairya
this is the class of bpit and age is :--- 20

In [ ]:
string='hohn000doe000123'
a = string.replace('0',' ')
a = a.split()
print(a)

['hohn', 'doe', '123']

In [ ]:
a = list(input())
b = list(input())
lst = []

for i in a:
  for i in b:
      b.pop(b.index(i))
      lst.append(i)
print(lst)

tota
otat
['o', 'a', 't', 't']