<a href="https://colab.research.google.com/github/Dhairyasummi/python/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Sets are an unordered collection of uniqe elements we can construct them by using the set() function
# they cannot have duplicates
# they are mutable just like lists
# you can create the non-empty set wuth curly braces by specifying elements seprated by commas

a = {}   #empty set
print(a)

{}

In [3]:
#indexing is also not possible in set
a = {1,2,3,4,5,4,6}
print(a)                      #it gives only unique values
print(a[1])                   # not possible

{1, 2, 3, 4, 5, 6}

In [4]:
#add - to add a single element we can use add it adds in last
a = {1,2,3,4}
a.add('dhairya')
print(a)

{1, 2, 3, 4, 'dhairya'}

In [5]:
#remove - use remove an item / element from the set and it takes element as the argument
a = {1,2,3,4}
a.remove(3)
print(a)

{1, 2, 4}

In [7]:
a = {1,2,3,'dhairya','Dhairya'}
print(a)

{1, 2, 3, 'dhairya', 'Dhairya'}

Dictionary

In [10]:
# dictionary can be understood as the hashing in other languages
# they are the collection of objects that are stored by a key and store in key:vale pairs
# we can construct the dictionary by

a = {'key1':'value1','key2':'value2'}
type(a)

dict

In [12]:
print(a.keys())
print(a.values())

dict_keys(['key1', 'key2'])
dict_values(['value1', 'value2'])

In [13]:
a = {'Name':['dhairya','summi'] , 'age':['19','20']}
print(a.values())

dict_values([['dhairya', 'summi'], ['19', '20']])

In [14]:
# indexing is not direclty possible in discitonary however we can use it by using keys
# item metord is used to return the value of key and pairs
print(a.items())

dict_items([('Name', ['dhairya', 'summi']), ('age', ['19', '20'])])

In [15]:
a['name'] = 'luffy'  # value is added to it
print(a)

{'Name': ['dhairya', 'summi'], 'age': ['19', '20'], 'name': 'luffy'}

In [ ]:
# dict - we  can create dictonary objects from sequence of the items which are pairs this is done using the dict() methord , it takes the list of paired element as the argument

country_list =
city_list =
print(dict(zip(county_list,city_list)))

In [17]:
# pop - they are used to remove the element from the dictionary havnig given key

a = {'name':'mohan','gender':'male'}
print(a.pop('name'))
print(a)

mohan
{'gender': 'male'}