<a href="https://colab.research.google.com/github/Dhairyasummi/python/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Sets are an unordered collection of uniqe elements we can construct them by using the set() function
# they cannot have duplicates
# they are mutable just like lists
# you can create the non-empty set wuth curly braces by specifying elements seprated by commas

a = {}   #empty set
print(a)

{}

In [ ]:
#indexing is also not possible in set
a = {1,2,3,4,5,4,6}
print(a)                      #it gives only unique values
print(a[1])                   # not possible

{1, 2, 3, 4, 5, 6}

In [ ]:
#add - to add a single element we can use add it adds in last
a = {1,2,3,4}
a.add('dhairya')
print(a)

{1, 2, 3, 4, 'dhairya'}

In [ ]:
#remove - use remove an item / element from the set and it takes element as the argument
a = {1,2,3,4}
a.remove(3)
print(a)

{1, 2, 4}

In [ ]:
a = {1,2,3,'dhairya','Dhairya'}
print(a)

{1, 2, 3, 'Dhairya', 'dhairya'}

Dictionary

In [ ]:
# dictionary can be understood as the hashing in other languages
# they are the collection of objects that are stored by a key and store in key:vale pairs
# we can construct the dictionary by

a = {'key1':'value1','key2':'value2'}
type(a)

dict

In [ ]:
print(a.keys())
print(a.values())

dict_keys(['key1', 'key2'])
dict_values(['value1', 'value2'])

In [ ]:
a = {'Name':['dhairya','summi'] , 'age':['19','20']}
print(a.values())

dict_values([['dhairya', 'summi'], ['19', '20']])

In [ ]:
# indexing is not direclty possible in discitonary however we can use it by using keys
# item metord is used to return the value of key and pairs
print(a.items())

dict_items([('Name', ['dhairya', 'summi']), ('age', ['19', '20'])])

In [ ]:
a['name'] = 'luffy'  # value is added to it
print(a)

{'Name': ['dhairya', 'summi'], 'age': ['19', '20'], 'name': 'luffy'}

In [ ]:
# dict - we  can create dictonary objects from sequence of the items which are pairs this is done using the dict() methord , it takes the list of paired element as the argument

country_list =
city_list =
print(dict(zip(county_list,city_list)))

SyntaxError: invalid syntax (ipython-input-14-2181942963.py, line 3)

In [ ]:
# pop - they are used to remove the element from the dictionary havnig given key

a = {'name':'mohan','gender':'male'}
print(a.pop('name'))
print(a)

mohan
{'gender': 'male'}

In [ ]:
x = 30

if x <= 30 :
  print('x is greater than 10!')
else :
  print('x is less than 10')

x is greater than 10!

In [ ]:
# wap to check if the number is even or odd

a = int(input('Enter your number :- mb'))

if a % 2 == 0 :
  print('Number is even')
else :
  print('Number is odd')

Enter your number :- 484765235342341234124214235235
Number is odd

In [ ]:
a = ['dhairya','ashish','karan','niyant']
for name in a:
  print(name)

dhairya
ashish
karan
niyant

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
b = []
for i in a:
  print(i*i*i)
  b.append(i*i*i)
print(b)

1
8
27
64
125
216
343
512
729
[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
# wap to print square of even number and cube of odd number

a = [1,2,3,4,5,6,7,8,9]
even_list = []
odd_list = []
for i in a:
  if i % 2 == 0:
    even_list.append(i**2)
  else:
    odd_list.append(i**3)
print(even_list)
print(odd_list)

[4, 16, 36, 64]
[1, 27, 125, 343, 729]

In [ ]:
# print the sum of the square of the number

a = {1,2,3,4,5,6,7,8,9}

even_list = []
for i in a:
  even_list.append(i**2)
print(sum(even_list))

285

In [ ]:
# print the sum of the square of the number

a = {1,2,3,4,5,6,7,8,9}

even_list = 0
for i in a:
  even_list += i**2
print(even_list)

285

In [ ]:
# print the string

a = 'My name is Dhairya Summi'
for i in a:
  if i not in ['a','e','i','o','u']:
    print(i)

M
y

n
m

s

D
h
r
y

S
m
m

In [ ]:
# print the string

a = 'My name is Dhairya Summi'
for i in a:
  if i in ['a','e','i','o','u']:
    print(i)

a
e
i
a
i
a
u
i

In [ ]:
a = 'My name is Dhairya Summi'
a.split()

['My', 'name', 'is', 'Dhairya', 'Summi']

In [ ]:
#print the first element of each word

w = 'orewa monkey d luffy'
l = w.split()

for i in l:
  print(i[0])

o
m
d
l

In [ ]:
# print all the days excluding the word day

days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

for i in days:
    print(i.replace('day', ''))

mon
tues
wednes
thurs
fri
satur
sun

In [ ]:
# print all the days excluding the word day / methord2

days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

for i in days:
    print(i[:-3])

mon
tues
wednes
thurs
fri
satur
sun

In [ ]:
a = 10
while a < 15:
  print(a)
  a = a+1
else:
  print('done')

10
11
12
13
14
done